{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    locals_not_used
]}.

{deps, [
    {oserl, ".*", {git, "git://github.com/PowerMeMobile/oserl.git", {branch, "as_9002_tls"}}},
    %% this MUST be here or rebar will fail to include it into escript.
    {common_lib, "3.3.4", {git, "git://github.com/PowerMeMobile/common_lib.git", {branch, "master"}}}
]}.
{escript_name, "parse_pdu"}.
{escript_incl_apps, [
    common_lib,
    oserl
]}.
